.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 3;
}

.criminal {
    border: 1px dotted darkmagenta;
    background-color: palevioletred;
    margin: .5em;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 0.3rem 1.5rem;
}
